{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Asistente{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/style.css' %}" />

    <link rel="manifest" href="/manifest.json" />
   
    <link rel="icon" href="{% static 'icons/icon-192.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'icons/icon-192.png' %}">

    <script src="https://cdn.tailwindcss.com"></script>
    
    <meta name="theme-color" content="#f472b6" />

    {% block extra_head %}{% endblock %}
  </head>
  
  <body class="bg-gray-50 h-screen flex flex-col">
    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>

    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener('load', function() {
            // Usamos una sola ruta clara para el Service Worker
            navigator.serviceWorker.register("/serviceworker.js")
                .then(function(reg) { console.log("Service Worker registrado!", reg.scope); })
                .catch(function(err) { console.log("Error Service Worker:", err); });
        });
      }
    </script>
  </body>
</html>