{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Asistente{% endblock %}</title>

    <link rel="manifest" href="/manifest.json" />
   
    <link rel="icon" href="{% static 'icons/icon-192.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'icons/icon-192.png' %}">

    <script src="https://cdn.tailwindcss.com"></script>
    
    <meta name="theme-color" content="#f472b6" />

    {% block extra_head %}{% endblock %}
  </head>
  
  <body class="bg-purple-100 h-screen flex flex-col">
  
    {% block content %}{% endblock %}

    <!-- SCRIPT SERVICE WORKER -->
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register("/serviceworker.js")
                .then(function(reg) { console.log("Service Worker registrado!", reg.scope); })
                .catch(function(err) { console.log("Error Service Worker:", err); });
        });
      }
    </script>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                // Importante: la ruta debe ser donde Render sirve tus estáticos
                navigator.serviceWorker.register('/static/sw.js')
                .then(res => console.log("Service worker registrado"))
                .catch(err => console.log("Service worker no registrado", err));
            });
        }
    </script>
  </body>
</html>